.Heading {
	padding-block: 30px;
	.textContent {
		.title {
			font-weight: 600;
			font-size: clamp(20px, 1vw, 40px);
			color: #111111;
		}
		.description {
			margin-top: 8px;
			font-size: clamp(14px, 2vw, 20px);
			color: #666666;
		}
	}

	&.between {
		flex: 1 1 50%;
		.wrapper {
			display: flex;
			align-items: center;
			gap: 30px;
			justify-content: space-between;
			.actions {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				width: 153px;
				height: 48px;
				border-radius: 10px;
				border: 1px solid #2e6cf4;
				.button {
					font-size: clamp(14px, 2vw, 18px);
					font-weight: 400;
					color: #2e6cf4;
				}
			}
		}
	}

	&.center {
		flex: 1 1 50%;
		.wrapper {
			display: flex;
			justify-content: center;
			gap: 30px;
		}
	}
}
