.lawSection {
  padding-block: 30px;
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    .law {
      width: 100%;
      padding-block: 10px;
      display: flex;
      align-items: center;
      gap: 24px;
      overflow-x: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
